@import "./variables";
@import "./mixins";




#Biography {
  position: absolute;
  top: 18px;
  right: -100px;
}

#mobile-Biography {
  display: none;
}

.professions__list, .professions__main {
  @include roboto-font(21px, 18px, 500);
  margin: 0;
}

.biography-section__blockquote {
  @include bitter-font(31px, 26px);
  margin: 0;
}

.biography-section {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.biography-section__photo{
  max-width: 571px;
  position: relative;
}

.biography-section__info {
  max-width: 455px;
  max-height: 840px;
  display: flex;
  gap: 36px;
  justify-content: center;
  flex-direction: column;
}

.biography-section__header {
  @include playfair-display-font(115px, 86px, 500);
  padding-right: 100px;
  margin: 0;
}


@media (max-width: $max-width-tablet) and (min-width: $min-width-tablet) {
  #Biography {
    position: relative;
    top: 0;
    right: 0;
  }


  .biography-section__photo{
    display: flex;
    flex-direction: column;
  }

  .biography-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 10vw;
    margin-left: 10px;
  }

  .biography-section__info {
    margin-left: 10px;
  }
}

.dash {
  display: none;
}

@media (max-width: $max-width-mobile) {

  #Biography {
    display: none;
  }
  #mobile-Biography {
    display: inline;
  }


  .slash {
    display: none;
  }

  .professions__list {
    order: 3;
  }

  .professions__main {
    order: 1;
  }

  #mobile-Biography {
    order: 2;
  }

  .biography-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 10vw;
    margin-left: 10px;
  }

  .biography-section__info {
    margin-left: 10px;
    order: 1;
  }

  .biography-section__photo {
    order: 2;
  }

  .professions {
    order: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .biography-section__blockquote {
    order: 2;
    font-weight: 300;
    line-height: 36px;
    font-size: 30px;
  }

  .biography-section__header {
    order: 3;
    font-weight: 400;
    line-height: 85px;
    font-size: 64px;
    padding: 0;
  }

  .dash {
    display: inline;
  }

  .rectangle {
    display: none;
  }
}