@import "./variables";
@import "./mixins";

.designer__header {
  @include roboto-font(19px, 16px, 700);
  margin: 0;
}

.designer__description {
  margin: 0;
}

.designers-section__designers {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: left;
  margin-left: 20px;
  overflow: scroll;
  align-items: end;
}

#Designers {
  margin-left: 138px;
}

.designer__frame-description {
  margin-top: 25px;
}

.designer__first-frame-description {
  margin-left: 240px;
}

.designer__kameron-clein-image {
  min-width: 336px;
}

.designer__louisse-red-image {
  min-width: 331px;
}

.designer__jess-wonder-image {
  min-width: 572px;
}

@media (max-width: $max-width-mobile) {
  #Designers {
    margin-left: 20px;

  }
  .designers-section__title_mobile {
    line-height: 21px;
    font-size: 18px;
  }
  .designer__first-frame-description {
    margin-left: 0;
  }

  .designer__jess-wonder-image {
    min-width: 310px;
  }
}



