.dialog-modal {
  max-width: 480px;
  gap: 24px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.modal-form__element {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.modal-form__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
