@import "./mixins";

.dialog-modal {
  width: 512px;
  gap: 24px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

.modal-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #ffffff;
  opacity: 1;
  z-index: 1;
  border-radius: 10px;

  &__element {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    @include roboto-font(21px, 18px, 700);
  }

  &__question {
    @include roboto-font(21px, 18px)
  }

  &__buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  &__button_close {
    background-color: #ffffff;
    border: 1px solid darkgray;
    color: #000000;
    @include button;
    transition: background-color 2s 1s ease-out, border 2s 1s ease-out, color 3s ease-out ;
  }

  &__button_send {
    background-color: #000000;
    color: #ffffff;
    @include button;
    transition: background-color 2s 1s ease-out, border 2s 1s ease-out, color 3s ease-out ;
  }

  &__button_close:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }

  &__button_send:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid darkgray;
  }

  &__button_close:hover, &__button_send:hover {
    @include roboto-font(55px, 23px, 500);
  }

  &__button_send::before {
    content: "\2b";
    margin-right: 10px;
    font-family: FontAwesome;
  }

  &__header {
    line-height: 28px;
    font-size: 25px;
    font-weight: 700;
  }

}

.modal-form::after {
  content: '';
  border: #ffffff 2px solid;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  width: 480px;
  height: 608px;
  z-index: -1;
  border-radius: 10px;
  animation-duration: 3s;
  animation-name: frame;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes frame {
  0% {

  }

  100% {
    transform: rotate(2deg);
  }
}

.element-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid  #d3d3d3;
  display: grid;
  grid-template-columns: 1fr 30px;
  transition: all 3s ease-in-out;
}

.element-input:hover {
  background-color: lightgrey;
}

.element-input:focus-within {
  outline: darkgray 1px solid;
}

svg {
  margin-top: 6px;
  background-color: inherit;
}

input {
  @include roboto-font(30px, 18px);
  appearance: none;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  background-color: inherit;
}

input:focus {
  @include roboto-font(30px, 18px);
  appearance: none;
  outline: none;
  padding: 6px 10px;
}

textarea {
  height: 135px;
  @include roboto-font(30px, 18px);
  padding: 6px 10px;
  resize: none;
  appearance: none;
  border: none;
  border-radius: 8px;
  background-color: inherit;
}

textarea:focus {
  outline: none;
}

