@import "./mixins";
@import "./variables";

.menu-header {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;

  &__a {
    color: black;
    text-decoration: none;
  }

  &__a:hover {
    text-decoration: underline;
  }

  &__message {
    width: 35px;
  }

  @media (max-width: $max-width-tablet) and (min-width: $min-width-tablet) {
    &__a {
      text-align: end;
    }

    &__biography {
      order: 1;
    }

    &__designers {
      order: 2;
    }

    &__message {
      order: 5;
      margin-left: auto;
    }

    &__testimonials {
      order: 3;
    }

    &__strong-points {
      order: 4;
    }
  }

  @media (max-width: $max-width-mobile) {
    &__a {
      font-size: 40px;
      line-height: 48px;
      padding: 21px 0;
    }
  }
}
