@import "./mixins";
@import "./variables";

.menu-header {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;

  &__link {
    color: black;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }

  @media (max-width: $max-width-tablet) and (min-width: $min-width-tablet) {
    &__link {
      text-align: end;
    }
  }

  @media (max-width: $max-width-mobile) {
    &__link {
      font-size: 40px;
      line-height: 48px;
      padding: 21px 0;
    }
  }
}
