@font-face {
    font-family: PlayfairDisplay, serif;
    src: url("../fonts/PlayfairDisplay-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: PlayfairDisplay, serif;
    src: url("../fonts/PlayfairDisplay-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Bitter, serif;
    src: url("../fonts/Bitter-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    font-size: 16px;
    margin: 0;
}

p {
    margin: 40px;
}
h1, h2 {
    font-family: PlayfairDisplay, serif;
    font-style: normal;
    line-height: 103px;
    font-size: 86px;
}
h1 {
    font-weight: 600;
    margin: 20px 0 12px 0;
}
h2 {
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 0;
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 28px;
    font-size: 24px;
}
nav {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    font-size: 24px;
    /*display: inline;*/
    position: absolute;
    right: 37px;
    top: 53px;
}

.subhead {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 23px;
    font-size: 20px;
    margin-top: 1px;
}
.section-header {
    font-family: PlayfairDisplay, serif;
    font-weight: 500;
    font-style: normal;
    line-height: 115px;
    font-size: 86px;
}

.biography-details {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    font-size: 18px;
}

.blockquote-biography {
    font-family: Bitter, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 31px;
    font-size: 26px;
}

.blockquote-testimonials {
    font-family: Bitter, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 38px;
    font-size: 32px;
}

.designers-header, h4 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 19px;
    font-size: 16px;
}

.strengths-header {
    font-family: PlayfairDisplay, serif;
    font-weight: 500;
    font-style: normal;
    line-height: 86px;
    font-size: 86px;
}

.strengths-ul {
    font-family: Bitter, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 41px;
    font-size: 34px;
}

.contacts {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;
    font-size: 16px;
    color: darkgray;
}

.logo {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    font-size: 18px;
    color: darkgray;
}

.logo-mod {
    font-weight: 900;
    line-height: 28px;
    font-size: 24px;
}

.pricing {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    font-size: 16px;
    color: darkgray;
}

.menu-header {
    margin: 0 25px;
}

.menu {
    color: black;
    margin-left: 52px;
    text-decoration: none;
}

.header {
    background-image: url("../img/header.jpg");
    background-color: #efdfd3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    box-sizing: border-box;
    padding: 135px 0;
}

.header-name {
    width: 690px;
    height: 360px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 1px 0;
}